body{
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	
}

#content_wrapper{
	margin: 0 auto;
	position: relative;
	top: -50px;
	width: 980px;  min-height: 1000px; 
	min-width: 980px;
}

