@font-face{
	font-family: 'codeFont';
	src: url('font/CODE Light.otf');
}

*{
	margin:0;
}

.clear{
	clear: both;
}

/* variation of fonts
----------------------------------------------------------------------------------------------------*/

.font_style{
	font-family: codeFont;
	font-size: 25px;
	color: white;
}

.font_style2{
	font-family: Century Gothic;
	font-size: 15px;
	color: white;
}

.font_style3{
	color: white;
	font-size: 25px;
}

.font_style4{

	color: white;
	font-size: 15px;
}

/* element modifications
----------------------------------------------------------------------------------------------------*/

a{
	color: white;
	text-decoration: none;
}

h2{
	color: #7EC3FF;
}



/* variation of sizes
----------------------------------------------------------------------------------------------------*/
.small{
	width: 225px;
	height: 225px;
	position: relative;
	bottom: 20px;
	left: 50px;
	z-index: 1;
	
}

/* website tweaks
----------------------------------------------------------------------------------------------------*/

body{
	min-width: 100%;
	background-repeat: no-repeat;
	background-attachment:fixed;
	
}

#page_wrapper{
	width: 100%; 	
}

/* header >> navigation
----------------------------------------------------------------------------------------------------*/
#header_wrapper{
	background-color: #7EC3FF;
	border-bottom: 3px solid #297BB0;
	opacity: .9;
	width: 100%;
	padding: 5px;

	position: fixed;
    top:0px;
    left:-5px;
    z-index:1000;

}

.nav{
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	position: relative;
	left: -35px;
}

.nav ul, li{
	list-style-type: none;
	display: inline;
}

/* middle page >> 3 columns
----------------------------------------------------------------------------------------------------*/
#mid_page{
	margin: 0 auto;
	min-width: 1480px;
	max-width: 1800px;
}

/* middle page >> ads
----------------------------------------------------------------------------------------------------*/
.ad_left{
	float: left;
	
	position: relative;
	top: 100px;
	left: 30px;
	z-index: -1;
}


.ad_left2{
	position: relative;
	left: -20px;
	
}

.ad_right{
	float: right;
	
	
	position: relative;
	top: -1300px;
	left: -30px;
	
}

/* middle page >> content
----------------------------------------------------------------------------------------------------*/
#content_wrapper{
	margin: 0 auto;
	position: relative;
	top: 20px;
	width: 980px; height: 1400px;
	background: url("pictures/creampaper.png");
	box-shadow: 0px 0px 200px #888888;
}

.socialMedia{
	width: 150px; /*shifts the bar*/
	margin: 90px auto 0px auto; 
	position: relative;
	bottom: 25px;
}

.title_bar{
	background-color: rgba(0,0,0,.8); 
	
	width: 880px; height: 30px;
	margin: 0 auto;
	border-radius: 10px;
	margin-bottom: 100px;
}



.content_box1{
	background-color: rgba(0,0,0,0.8); 
	border-radius: 50px;
	width: 800px; height: 200px;
	padding: 60px;
	margin: auto;
	position: relative;
	bottom: 85px;
	z-index: 0;

}

.content_box2{
	background-color: rgba(0,0,0,0.8); 
	border-radius: 25px;
	width: 620px; height: 100px;
	padding: 30px;
	margin: 0px 50px 0px 10px;
	position: relative;
	top: -230px;
	left: 240px;

}



.billboard{
	height: 560px;
	position: relative;
	bottom: 20px;
	z-index: 1;
}

.billboard img{
	opacity: 1;
	min-width: 450px; max-width: 100%;

	margin: 20px auto auto 0px;
	width: 2000px; height: 100%;


}

/* footer >> index tabs logos
----------------------------------------------------------------------------------------------------*/
#footer_wrapper{
	clear: both;
	background-color: #7EC3FF;
	opacity: .9;
	z-index: 1px;
	min-width: 1480px;
	max-width: 100%;
	height: 155px; 
	
}


.owner{
	clear: both;
	position: relative;
}

.motto{
	background-color: #00408F;
	padding-left: 80px;
	padding-right: 80px;
	text-align: center;
}

.footer{
	text-align: center;
	padding-left: 80px;
	position: relative;
	left: -40px;
	top: 30px;
}









